* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #ffd1a7;
}
#quote-box {
  position: relative;
  align-self: center;
  height: 250px;
  width: 600px;
  background-color: #37889b !important;
  margin: auto;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#text {
  padding: 0px 40px;
  font-size: 25px;
}
#author {
  font-family: "Open Sans Condensed", sans-serif;
  position: absolute;
  right: 3%;
  bottom: 22%;
  font-size: 22px;
  font-weight: bold;
}
#author::before {
  content: "--";
}
#new-quote {
  display: block;
  position: absolute;
  right: 3%;
  bottom: 5%;
  padding: 8px;
  border: 2px solid black;
  border-radius: 15%;
  cursor: pointer;
  background-color: #9b6f47;
  color: white;
}
#tweet-quote {
  position: absolute;
  left: 3%;
  bottom: 5%;
  font-size: 28px;
  cursor: pointer;
  background-color: #37889b;
  border: none;
  color: blue;
}
